@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital@1&family=Open+Sans&family=Playfair+Display:wght@400;700&family=Poppins:ital,wght@1,100&family=Raleway&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #000000;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    scrollbar-width: thin;
    scrollbar-color: #ffee00 #000000;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #ffee00;
}

::-webkit-scrollbar-track {
    background-color: #2e2e2e;
}

header {
    background-color: #1d1d1d;
    display: flex;
    justify-content: space-between; 
    padding: 1rem;  
}

#header-title {
    color: yellow;
    font-weight: bold;
    font-size: 1.5rem;
    margin-right: 1rem; 
}

#logo-container {
    margin-left: auto; /* Pushes the logo to the right */
}

#logo {
    width: 80px; /* Adjust the width as needed */
    height: auto; /* Maintains the aspect ratio */
    margin-right: 8px;
}


.search {
    background-color: transparent;
    border: 2px solid #000000;
    border-radius: 50px;
    color: #fff;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem 1rem;
}

.search::placeholder {
    color: #bebcbc;
}

.search:focus {
    background-color: #000000;
    outline: none;
}

main {
    display: flex;
    flex-wrap: wrap;
}

#main {
    display: flex;
    flex-wrap: wrap;
    height: calc(100vh - 120px); /* Adjust based on header height */
    overflow: auto;
}

.movie {
    background-color: #79707079;
    border-radius: 3px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    margin: 1rem;
    width: calc(20% - 2rem);
    transition: transform 0.3s ease-in-out;
}


.movie img {
    width: 100%;
}

.movie-info a {
    text-decoration: none; /* Remove underline for movie names */
    color: inherit; /* Inherit the color from the parent (black by default) */
}

/* Optional: Adjust the color on hover for the hyperlink */
.movie-info a:hover {
    color: inherit; /* Set the color of movie names in the overview on hover */
}

.movie-info {
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info h3 {
    margin: 0;
    text-decoration: none; /* Remove underline for movie names */
    color: inherit; /* Inherit the color from the parent (black by default) */
}

.movie-info span {
    background-color: #414141;
    border-radius: 3px;
    font-weight: bold;
    padding: 0.25rem 0.5rem;
}
.movie-info span.green {
    color: rgb(39, 189, 39);
}

.movie-info span.orange {
    color: orange;
}

.movie-info span.red {
    color: rgb(189, 42, 42);
}

.overview {
    background-color: rgba(255, 255, 255, 0.76);
    padding: 2rem;
    position: absolute;
    max-height: 100%;
    overflow: auto;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
    color: #555; /* Set the color of the text in the overview */
}

/* Additional styles to set hyperlink color */
.overview a {
    color: #555; /* Set the color of hyperlinks in the overview */
}


.overview h3 {
    margin-top: 0;
}

/* Adjust existing hover styles to maintain the same appearance */
.movie:hover .overview {
    transform: translateY(0);
    color: #555; /* Set the color of the text in the overview on hover */
}

/* Optional: Adjust the color on hover for the hyperlink */
.movie:hover .overview a {
    color: #555; /* Set the color of hyperlinks in the overview on hover */
}

.movie:hover {
    transform: scale(1.10);
}

.genre {
    padding: 0.5rem 1rem;
    margin-left: 1rem;
    border: 2px solid #000000;
    border-radius: 5px;
    background-color: #555;
    color: #ffffff;

}

/* Optional: Style the dropdown arrow */
.genre::-ms-expand {
    display: none;
}

.genre {
    appearance: none;
    background-image: url('path/to/your-arrow-image.png');
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px; /* Adjust as needed */
}

.left-zone,
.right-zone {
    height: 100%; /* Take up full height of the main container */
    width: 50%; /* Split the main container into two equal parts */
    background-color: #ccc; /* Grey background color */
    position: relative; /* Positioning for arrow indicators */
    cursor: pointer; /* Change cursor on hover */
}

.left-zone:hover,
.right-zone:hover {
    opacity: 0.8; /* Reduce opacity on hover */
}

.left-zone::before,
.right-zone::before {
    content: ''; /* Create the arrow indicators */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px; /* Adjust arrow size */
}

.left-zone::before {
    border-color: transparent transparent transparent #000; /* Left arrow */
    left: 10px; /* Adjust arrow position */
}

.right-zone::before {
    border-color: transparent #000 transparent transparent; /* Right arrow */
    right: 10px; /* Adjust arrow position */
}